<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css">
  <title><%= @item[:nickname] %></title>
  <!-- you don't need to keep this, but it's cool for stats! -->
  <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
</head>

<body>
  <figure>
    <img src="<%= @item[:image] %>" width="100" height="100" />
    <figcaption><%= @item[:nickname] %></figcaption>
  </figure>
  <ul>
    <li><a href="https://nanoc.ws/doc/">Documentation</a></li>
    <li><a href="https://nanoc.ws/doc/tutorial/">Tutorial</a></li>
  </ul>
</body>

</html>
