#!/usr/bin/env ruby
compile "/data/users/*.html" do
  layout "/user.*"
  write item.identifier.without_ext + ".html"
end

compile "/**/*.scss" do
  filter :sass, syntax: :scss, style: :compressed
  write "/assets" + item.identifier.without_ext + ".css"
end

compile "/**/*.js" do
  filter :uglify_js, mangle: false, harmony: true
  write "/assets" + item.identifier.without_ext + ".js"
end

compile "/sitemap.html" do
  filter :erb
  write item.identifier.without_ext + ".xml"
end

compile "/robots.txt" do
  filter :binary
  write item.identifier.without_ext + ".txt"
end

layout "/**/*", :erb
